<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <span>Angular UI Demo</span>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="p-2" [routerLink]="['/']" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Grid1</a>
      <a class="p-2" routerLink="/demo" routerLinkActive="active">Grid2</a>
      <a class="p-2" routerLink="/filtering" routerLinkActive="active">Grid3</a>
      <a class="p-2" routerLink="/editing" routerLinkActive="active">Grid4</a>
    </nav>
    
    
  </div>

